<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Entry</title>
</head>
<body>

<h1>Hello <%= entry.name %></h1>

<img src="<%= dogImage %>" width="300"><br><br>

<a href="/">Back</a>

</body>
</html>